

* {
  margin: 0;
  padding: 0;
  --text_font:'Roboto', sans-serif;
}

#root {
  height: 100%;
}


.picture {
  display: none;
}


form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 300px;
  padding: 10px;
}

.form-group {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login__link {
  text-decoration: underline;
  color: black;
  font-size: 10px;
}

#email {
  width: 100%;
}

#password {
  width: 100%;
}

.form-group label {
  font-family: var(--text_font);
}

.login-button {
  width: 100%;
  padding: 10px;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .picture {
    display: block;
    height: 100%;
  }

  .picture img {
    height: 800px;
    width: 600px;
  }

  form {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }

  .form-inner {
    margin-right: 150px;
    width: 400px;
  }

  .form-group {
    width: 400px;
  }

  #email {
    height: 30px;
  }

  #password {
    height: 30px;
  }
}