* {
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 300px;
  padding: 10px;
}

.form-group {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login__link {
  text-decoration: underline;
  color: black;
  font-size: 10px;
}

#email {
  width: 100%;
}

#password {
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 10px;
}
